.title{
    text-align: center;
    font-size: 32px;
    color: teal;
    border-bottom: 5px dotted darkred;
    border-top: 5px dotted darkred;
    margin: auto;
    width: 250px;
}

.slds-table {
    background-color: white;
    font-size: 14px;
    color: black;
    font-weight: lighter;
    column-width: 4px;
}

.head{
    background-color:coral;
    color: white;
    height: 30px;
    text-align: center;
}